body {
    background-color: rgba(254, 247, 218);
    width: 70%;
    margin: 0 auto;
}

h1,
p {
    text-align: justify;
    color: rgb(67, 67, 167);
}

header {
    background-color: rgb(133, 173, 149);
    /* padding-bottom: 220px;*/
}

header p {
    font-size: 40px;
}

#menu {
    margin-top: 4%;
    background-color: rgb(160, 192, 156);
    float: left;
    width: 30%;
    padding-bottom: 32%
}

a:link {
    background-color: #0f8b8b;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*quitar la linea*/
}

a:visited {
    background-color: #2258bb;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*quitar la linea*/
}

a:hover,
a:active {
    background-color: rgb(150, 152, 168);
}

section {
    margin-top: 4%;
    background-color: rgb(233, 234, 240);
    float: right;
    width: 70%;
}

#contenido {
    background-color: rgb(49, 134, 75);
    float: right;
    width: 80%;
}

#lista {
    list-style-type: none;
    padding: 0;
}

#lista li {
    background-color: rgb(233, 234, 240);
    float: left;
    width: 47%;
    /* padding-left: 3%; */
}

#l1 {
    padding-left: 3%;
    padding-right: 3%;
}

#lista li img {
    width: 300px;
    height: 200px;
}